{% extends 'base.html' %}
{% load static %}

{% block styles %}
<style>

.navbar{
    background-color: rgba(0, 8, 46, 0.5);
}

button{
    height: 300px;
    width: 300px;
}

#transfer{
    font-size: 50px;
}

.fa-share-square{
    font-size: 100px;
}

</style>
{% endblock %}

{% block content %}
<div class="container">
    <br>
    <div class="row">
        <div class="col-6 text-right">
            <button class="btn btn-success" id="transfer"><i class="fas fa-share-square"></i><br>Transfer</button>
        </div>
        <div class="col-6 text-left">
            <button class="btn btn-success" id="balance">Balance</button>
        </div>
    </div>
    <br>
</div>
{% endblock %}

{% block scripts %}
<script>
$(function(){
    var transfer = $('#transfer');
    var balance = $('#balance');

    transfer.click(function(){
        window.location.href = 'transfer';
    });
});
</script>
{% endblock %}